@page "/"

<div class="card">
    <div class="card-body">
<hi class="card-title">BookStore - Blazor and API Application</hi>
       <p class="card-text"></p> 
       .NET Book Store API consumed by Blazor Server and WASM Application.
       <ul>
           <li>Build a fully data driven REST API .NET 6 using cutting edge</li>
           <li>Connect to a Database using Entity Framework Core</li>
           <li>Repository Pattern and Dependency Injection</li>
           <li>Setup logging using Serilog </li>
           <li>Understanding the REST design principles</li>
           <li>Understanding user Authentication using Jwt(Json Web Token) </li>
           <li>Understanding C# and .Net Core Web Syntax</li>
           <li>Understanding how to use Models, Dto and Automapper </li>
           <li>Understand how to use Nswag to generate HttpClient</li>
           <li>Manage Packages with Nuget Manager </li>
           <li> Build a Web Application to interact with the Web Api  </li>

       </ul>
    </div>
</div>
